<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CloudFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Center</display-name>
    <servlet-name>Center</servlet-name>
    <servlet-class>Servlet.Center</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Center</servlet-name>
    <url-pattern>/Center</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityReply</display-name>
    <servlet-name>ActivityReply</servlet-name>
    <servlet-class>Servlet.ActivityReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityReply</servlet-name>
    <url-pattern>/ActivityReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertLocation</display-name>
    <servlet-name>InsertLocation</servlet-name>
    <servlet-class>Servlet.InsertLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertLocation</servlet-name>
    <url-pattern>/InsertLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPreference</display-name>
    <servlet-name>InsertPreference</servlet-name>
    <servlet-class>Servlet.InsertPreference</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPreference</servlet-name>
    <url-pattern>/InsertPreference</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookUpEvent</display-name>
    <servlet-name>LookUpEvent</servlet-name>
    <servlet-class>Servlet.LookUpEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookUpEvent</servlet-name>
    <url-pattern>/LookUpEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupEvent</display-name>
    <servlet-name>SetupEvent</servlet-name>
    <servlet-class>Servlet.SetupEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupEvent</servlet-name>
    <url-pattern>/SetupEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinEvent</display-name>
    <servlet-name>JoinEvent</servlet-name>
    <servlet-class>Servlet.JoinEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinEvent</servlet-name>
    <url-pattern>/JoinEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumberOfEvent</display-name>
    <servlet-name>NumberOfEvent</servlet-name>
    <servlet-class>Servlet.NumberOfEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberOfEvent</servlet-name>
    <url-pattern>/NumberOfEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Leave</display-name>
    <servlet-name>Leave</servlet-name>
    <servlet-class>Servlet.Leave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Leave</servlet-name>
    <url-pattern>/Leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookUpPreference</display-name>
    <servlet-name>LookUpPreference</servlet-name>
    <servlet-class>Servlet.LookUpPreference</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookUpPreference</servlet-name>
    <url-pattern>/LookUpPreference</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>Servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfile</display-name>
    <servlet-name>GetProfile</servlet-name>
    <servlet-class>Servlet.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfile</servlet-name>
    <url-pattern>/GetProfile</url-pattern>
  </servlet-mapping>
</web-app>